/*
 * ----------------------------------------
 * Pipeline configuration
 * ----------------------------------------
 */

// Parameters
params {
    genomes = "genomes"                                 // Set files path [default genomes]
    outdir = "results"                                  // Output directonry [default results]
    gtdbtk_db = "path/gtdbtk/db"                        // Path to GTDB-Tk database
    files_extension = "fna"                             // Set files extension [default fna]
    checkm_db = "/path/checkm/db"                       // Path to CheckM database
    checkm_max_cont = "10"                              // Set maximum genome contamination [default 10] for CheckM
    checkm_min_comp = "90"                              // Set minimum genome completeness [default 90] for CheckM
    tax = "Catenibacterium"                             // Set bacterial genus [default Catenibacterium]
    bakta_db = "/path/bakta/db"                         // Path to Bakta database
    roary_min_identity = "70"                           // Set minimum percentage identity for blastp [default 70] for Roary
    roary_min_identity_sp = "95"                        // Set minimum percentage identity for blastp to consider a gene as the same across different species [default 95] for Roary
    raxml_runs = "100"                                  // Number of alternative runs on distinct starting trees [default 100] for RAxML    
    roary_plots_script = "/path/roary/script"           // Path to script roary_plots.py
    bakta_stats_script = "/path/bakta/script"           // Path to script collect-annotation-stats.py
    eggnog_db = "/path/eggnog/db"                       // Path to EggNOG database
    eggnog_input_type = "CDS"                           // Type of data in the input file for eggNOG-mapper [default CDS]
    eggnog_search_mode = "diamond"                      // How input queries will be searched against eggNOG sequences [default diamond]
    eggnog_orthologs = "all"                            // Defines what type of orthologs (in relation to the seed ortholog) should be used for functional transfer [default all] for eggNOG-mapper
    eggnog_go_evidence = "non-electronic"               // Defines what type of GO terms should be used for annotation [default non-electronic] for eggNOG-mapper
    eggnog_pfam_realign = "none"                        // Defines how PFAM annotation will be performed [default none] for eggNOG-mapper
    eggnog_sens_mode = "more-sensitive"                 // Diamond's sensitivity mode [default more-sensitive] for eggNOG-mapper
    deepbgc_models = "/path/deepbgc/models"             // Path to DeepBGC models
    deepbgc_model = "deepbgc"                           // DeepBGC model name or path to trained model pickle file [default deepbgc]
    deepbgc_extracting_score = "0.5"                    // DeepBGC extracting score threshold
    deepbgc_classification_score = "0.5"                // DeepBGC classification score threshold
    deepbgc_prot_gap = "5"                              // DeepBGC protein gap threshold [default 5]. Merge detected BGCs within given number of proteins
    deepbgc_nucl_gap = "2000"                           // DeepBGC nucleotide gap threshold [default 2000]. Merge detected BGCs within given number of nucleotides
    antismash_genefinder = "prodigal"                   // Gene finder tool to use for antiSMASH [default prodigal]
    antismash_db = "/path/antismash/databases"          // Path to antiSMASH databases
    prophet_model = "/path/prophet/model"               // Path to trained detection model for BGC-Prophet
    prophet_classifier = "/path/prophet/classifier"     // Path to trained classifier model for BGC-Prophet
    prophet_pred_t = "0.5"                              // BGC-Prophet prediction score threshold [default 0.5]
    prophet_gene_gap = "5"                              // BGC-Prophet gene gap threshold [default 5]. Merge detected BGCs within given number of genes
    prophet_min_genes = "2"                             // BGC-Prophet minimum number of genes in a detected cluster [default 2]
    prophet_class_t = "0.5"                             // BGC-Prophet classification score threshold [default 0.5]
    prophet_prefix = "cateni"                           // Prefix for BGC-Prophet output files [default cateni]
}


// Resource allocation
process {
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 2

    withLabel: 'process_low' {
        cpus = 3
        memory = '8 GB'
        time = '1h'
    }

    withLabel: 'process_medium' {
        cpus = 8
        memory = '16 GB'
        time = '6h'
    }

    withLabel: 'process_high' {
        cpus = 20
        memory = '60 GB'
        time = '24h'
    }

    withName: 'RAXML_TREE' {
        cpus = 12
        memory = '20 GB'
    }

    withName: 'ANTISMASH' {
        cpus = 4
        memory = '20 GB'
        maxForks = 1
    }

    // Containers
    withName: 'GTDB_FILTER' {
        container = 'community.wave.seqera.io/library/gtdbtk:2.6.1--cce9f0f2d7154920'
        conda = '/mnt/cive/miniconda/envs/gtdbtk-latest'
    }

    withName: 'DEREPLICATE_SEQS' {
        container = 'community.wave.seqera.io/library/seqkit:2.12.0--5e60eb93d3a59212'
        conda = '/mnt/cive/miniconda/envs/vperdomo_seqkit-2.12.0'
    }

    withName: 'CHECKM_QC' {
        container = 'community.wave.seqera.io/library/checkm-genome:1.2.4--a5aa2fb32ae8b7f4'
        conda = '/mnt/cive/miniconda/envs/vperdomo_checkm-1.2.4'
    }

    withName: 'FASTANI_ALL_VS_ALL' {
        container = 'community.wave.seqera.io/library/fastani:1.34--54a7588f3473e24f'
        conda = '/mnt/cive/miniconda/envs/vperdomo_fastani-1.34'
    }

    withName: 'BAKTA_ANNOTATION' {
        container = 'community.wave.seqera.io/library/bakta:1.11.4--6a41ca4fee4f3328'
        conda = '/mnt/cive/miniconda/envs/bakta'
    }

    withName: 'BAKTA_STATS' {
        container = 'community.wave.seqera.io/library/bakta:1.11.4--6a41ca4fee4f3328'
        conda = '/mnt/cive/miniconda/envs/bakta'
    }

    withName: 'PROKKA_ANNOTATION' {
        container = 'community.wave.seqera.io/library/prokka:1.15.6--f399b0fcfffb9f91'
        conda = '/mnt/cive/miniconda/envs/vperdomo_prokka-1.15.6'
    }

    withName: 'ROARY_PANGENOME' {
        container = 'community.wave.seqera.io/library/roary:3.13.0--3b2b99922b3eab65'
        conda = '/mnt/cive/miniconda/envs/roary'
    }

    withName: 'RAXML_TREE' {
        container = 'community.wave.seqera.io/library/raxml:8.2.12--0202f457d0bf9c5b'
        conda = '/mnt/cive/miniconda/envs/vperdomo_raxml-8.2.12'
    }

    withName: 'ROARY_PLOTS' {
        container = 'community.wave.seqera.io/library/roary:3.13.0--3b2b99922b3eab65'
        conda = '/mnt/cive/miniconda/envs/roary'
    }

    withName: 'EGGNOGMAPPER' {
        container = 'community.wave.seqera.io/library/eggnog-mapper:2.1.13--c99d97a9121734e6'
        conda = '/mnt/cive/miniconda/envs/vperdomo_emapper-2.1.13'
    }

    withName: 'DEEPBGC' {
        container = 'community.wave.seqera.io/library/deepbgc:0.1.31--c2bcdb35490d2aa0'
        conda = '/mnt/cive/miniconda/envs/vperdomo_deepbgc-0.1.31'
    }

    withName: 'ANTISMASH' {
        container = 'community.wave.seqera.io/library/antismash:8.0.4--b73ad035b3eb1bae'
        conda = '/mnt/cive/miniconda/envs/vperdomo_antismash-8.0.4'
    }

    withName: 'BGC_PROPHET' {
        container = 'community.wave.seqera.io/library/pip_bgc-prophet:f3d5788748038f13'
        conda = '/mnt/cive/miniconda/envs/vperdomo_bgcprophet-0.1.1'
    }
}


// Profiles
profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
        singularity.enabled = false
    }

    singularity {
        singularity.enabled = true
        docker.enabled = false
        singularity.cacheDir = "${params.outdir}/singularity_images"
    }

    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
    }
}


// Reports
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}